*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin:0;
    padding:0px;
    padding-bottom:30px;
    background:rgb(7, 15, 18);
    color:white;
}


header ul{
    display:flex;
    padding:10px;
    font-size:18px;
    font-weight:200;
    justify-content: center;
    list-style-type: none;
    border-bottom:0.1rem solid white;
    position: fixed;
    top: 0%;
    background: rgb(22, 42, 60);
    width: 100%;
    z-index: 1;
}
.cart-holder{
    position: absolute;
    right: 2%;
    padding: 2px 10px;
    border: 2px solid blue;
    border-radius: 10px;
    color: white;
}
.cart-number{
    position: absolute;
    top: -12px;
    right: -25%;
    font-size: 21px;
}

header li{
    margin:0px 40px;
}
header li a{
    text-decoration: none;
    color:white;
}
.container{
    max-width:900px;
    margin:0 auto;
    padding:20px 30px;
}
#music-content{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
#music-content div{
    margin:30px;
}
#music-content div h3{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}
#music-content .prod-details{
    display: flex;
    margin: 8px;
    align-items: center;
    justify-content: space-between;
}



.image-container{
    height: 250px;
    width: 250px;
    overflow: hidden;
}
.prod-images{
    transform-origin: center center;
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding:0px;
    margin:0px;
    transition: ease-in 0.5s;
    filter: brightness(100%);
}
.prod-images:hover{
    transform: scale(1.5);
    filter: brightness(130%);
}
  footer{
    display:flex;
    margin-top:40px;
    padding:20px;
    background: #066c8e;
}
footer .footer-title{
    text-align: center;
    color:white;
    width:50%;
    font-size:50px;
    font-weight:bold;
    margin:0 auto;
}
footer .footer-icons{
    width:50%;
    display:flex;
    align-items:center;
    justify-content: space-around;
}
.footer-icons ul{
    list-style-type: none;
    display:flex;
}
.footer-icons li{
    padding:10px;
    margin:0px 20px;
}
.footer-icons li:hover{
    background:rgb(17, 206, 206);
}
.footer-icons img{
    width:30px;
}